.back{
    background:black;
    overflow: hidden;

}
.header{
    display:flex;
    justify-content:flex-start;
    height:30%;
    width:100%;
    
}
.header>.banner{
    height:25%;
    width:80%;
    display:flex;
    justify-content:flex-start;
    margin:0.5%;
    padding:1%;
    
}
.header>.banner>.years{
    font-size:35px;
    height:90%;
    width:40%;
    top:80px;
    padding:50px;
    background: -webkit-linear-gradient(120deg,white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.years>span{
     background: -webkit-linear-gradient(120deg, rgb(246, 10, 88),rgb(246, 10, 88));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size:60px;
}

.header>.banner>.name{
    font-weight: bolder;
    top:0px;
    left:30%;
    padding:30px;
    text-align:left;
    font-size:70px;
   
}
h1 {
    background: -webkit-linear-gradient(120deg,rgb(237, 51, 113), rgb(255, 148, 114));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .header>.banner> .line{
    color:black;
    margin:15px;
    padding:10px;
    top: 30%;
    position:relative;
    font-size:100px;
    height:90%;
    opacity:0.3;
    color: cyan;
}
.navbar{
    background-color:black;
    margin:10px;
    width:99%;
    height:9%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.dropdown {
    float: left;
    overflow: hidden;
  }
.dropdown .dropbtn {
    font-size:25px;  
    border: none;
    outline: none;
    color: white;
    padding: 13px 18px;
    background-color:inherit;
    font-family:inherit;
    padding:70px;
    
  }
 a{
    text-decoration: none;
    color:white;
  }
.navbar a:hover, .dropdown:hover .dropbtn {
    color:yellowgreen;
    transform:scale(1.2);
    transition: 1s;
  }

.topbar>nav > ul > a{
    text-decoration: none;
}
.topbar>nav > ul{
    list-style:none;
    margin:10px;
    padding:10px;
    display:flex;
    justify-content:flex-end;
    align-items:right;
}
.topbar>nav > ul> a{
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    margin:0px;
    padding:10px;
    text-align:center;
    color:black;
    position:relative;
    top:0;
}
.topbar>nav>ul li:hover{
    background-color:lightblue;
    transform: scale(1.1);
    transition: 2s;
    box-shadow: 2px 2px 4px blue;
    color:blue;
}
#container-background{
    background-image:url('bg.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 155%;
    overflow: hidden;
}
/* .heading{
    top:5px;
    /*margin-top:5%;
    text-align:center;
    color:black;
    font-size:50px;
    
} */
.Ques{
    float: left;
    width: 70%;
    margin-top: 2%;
    margin-left: 2%;
    font-size:30px;
    font-weight: bold;
    color:rgb(154, 102, 7);
}
  .Ans {
    float: left;
    width: 65%;
    margin-top: 1%;
    margin-left: 2%;
    font-size:25px;;
    font-weight: bold;
}
