<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/about.css') }}">
        <style>
            *{
                margin:0%;
                padding:0%;
            }
        </style>
    </head>
    <body>
      <div class="back">
          <div class="header">
              <div class ="banner">    
              <div class="name">
                  <h1>SYNISTA</h1>
              </div>
          <div class="line">|</div>
          <div class="years">SELECT WHAT <br><span>BEST</span> FITS YOU</div>
          </div>
          </div>
      </div> 
      <div id="container-background">
          <div id="container"></div>
      <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn"><a href="{{url_for('code1')}}" target=_self>HOME</a></button>
            
        </div> 
        <div class="dropdown">
            <button class="dropbtn"> <a href="{{url_for('form')}}" target=_blank>RECOMMENDATION</a></button>
           
        </div> 
        <div class="dropdown">
            <button class="dropbtn"><a href="{{url_for('faq')}}" target=_blank>FAQ</a></button>
            
        </div> 
        <div class="dropdown">
            <button class="dropbtn"><a href="{{url_for('about')}}" target=_blank>ABOUT US</a></button>
            
        
        </div> 
 
    </div>
     <!-- <div class="b" style="color: rgb(9, 96, 81)">
       <h2 style="color: black">Priya Agarwal</h2>
       <br>
       <h3> Student of B.Tech. CS 3rd year at Banasthali Vidyapith</h3>
       <br>
       <h3 class="d">Email Id- btbtc20513_priya@banasthali.in</h3>
   
     <br>
    
       <h2 style="color: black">Anushka Singh</h2>
       <br>
       <h3>  Student of B.Tech. IT 3rd year at Banasthali Vidyapith</h3>
       <br>
       <h3>Email Id- btbti20238_anushka@banasthali.in</h3>
     </div> -->
       
     <style>
      .rectangle1 {
        height: 17%;
        width: 55%;
        background-color: rgb(123, 4, 62);
        margin-left: 3%;
        margin-top: 5%;
      }
      .rectangle2 {
        height: 17%;
        width: 55%;
        background-color: rgb(123, 4, 62);
        margin-left: 42%;
        margin-top: 2%;
      }
      .rectangle3 {
        height: 17%;
        width: 55%;
        background-color: rgb(123, 4, 62);
        margin-left: 3%;
      }
      .rectangle4 {
        height: 17%;
        width: 55%;
        background-color: rgb(123, 4, 62);
        margin-left: 42%;
      }
      </style>
      <div class="rectangle1"><p><div class="b" style="color: white">
          <div class="img" >
          <img src="{{url_for('static',filename='images/bitmj2.jpg') }}" style="object-fit:contain; width:170px; height:170px; margin-top:1%;">
          </div>
          <h2 style="color: white; padding-left:25%; margin-top: 2%;">Priya Agarwal</h2>
          <br>
          <h3 style="color: white; padding-left:25%"> Student of B.Tech. CS 3rd year at Banasthali Vidyapith</h3>
          <br>
          <h3 class="d" style="color: white; padding-left:25%">Email Id- btbtc20513_priya@banasthali.in</h3>
      
        </div></p></div>
        <div class="rectangle2"><p><div class="b" style="color: white">
          <div class="img" >
              <img src="{{url_for('static',filename='images/bitmj4.jpg') }}" style="object-fit:contain; width:170px; height:170px; margin-top:1%;">
              </div>
          <h2 style="color: white; padding-left:25%; margin-top: 2%;">Anushka Singh</h2>
          <br>
          <h3 style="color: white; padding-left:25%"> Student of B.Tech. IT 3rd year at Banasthali Vidyapith</h3>
          <br>
          <h3 style="color: white; padding-left:25%">Email Id- btbti20238_anushka@banasthali.in</h3>
        </div></p></div>
        <br>
        <div class="rectangle3"><p><div class="b" style="color: white">
          <div class="img" >
              <img src="{{url_for('static',filename='images/bitmj3.jpg') }}" style="object-fit:contain; width:170px; height:170px; margin-top:1%;">
              </div>
       <h2 style="color: white; padding-left:25%; margin-top: 2%;">Nupur Pancholi</h2>
       <br>
       <h3 style="color: white; padding-left:25%"> Student of B.Tech. CS 3rd year at Banasthali Vidyapith</h3>
       <br>
       <h3 style="color: white; padding-left:25%">Email Id- btbtc20527_nupur@banasthali.in</h3>
      </div></p></div>
     <br>
     <div class="rectangle4"><p><div class="b" style="color: white" >
      <div class="img" >
          <img src="{{url_for('static',filename='images/bitmj1.jpg') }}" style="object-fit:contain; width:170px; height:170px; margin-top:1%;">
          </div>
       <h2 style="color: white; padding-left:25%; margin-top: 2%;">Manasvi Chaturvedi</h2>
       <br>
       <h3 style="color: white; padding-left:25%"> Student of B.Tech. CS 3rd year at Banasthali Vidyapith</h3>
       <br>
       <h3 style="color: white; padding-left:25%">Email Id- btbtc20082_manasvi@banasthali.in</h3>
      </div></p></div>
      <br>
      <div class="line1"><br><br><br>_______________________________________________________________________________________________________________________________________________________________________________________</div>
  </div>
 </body>
</html>